{% extends './base.html' %}
{% load static %}
{% block title %} Главная {% endblock %}

{% block content %}
	<div class="wrapper">
		<div class="articles">
			{% for post in page_obj %}
			<div class="article">	
					<div class="content">
						<div class="title">
							<h4>{{ post.title|safe }}</h4>
						</div>
						<img src="media/{{ post.image }}" title="Humster picture">
						<p>{{ post.content|truncatewords:8 }}</p>

					</div>
					<a href="{% url 'post_detail' slug=post.url %}">Читать далее</a>
									
			</div>
			{% endfor %}
		</div>
	</div>
	{% endblock content %}

{% block pagination %}
    <div class="pagin_div">
        <nav class="pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <a class="" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
            {% else %}
                <li><a href="#" tabindex="-1">Предыдущая</a></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if i == page_obj.nfiumber %}
                    <li><a href="?page={{ i }}" class="sr-only">{{ i }}</a></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

        {% if page_obj.has_next %}
            <a class="next" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        {% else %}
            <li class="next"><a href="#">Следующая</a></li>
        {% endif %}
        </ul>
    </nav>
    </div>
    <br>
{% endblock %}