{% extends './base.html' %}
{% load static %}
{% block title %}Поиск{% endblock %}

{% block content %}
<div class="search">
	<nav>
        <ol>
		    <li><a href="{% url 'index' %}">Главная</a></li>
		    <li aria-current="page">/  Поиск</li>
	    </ol>
    </nav>
	<p>Найдено записей: {{ count }}</p>
    {% for result in results %}
    <div class="search_text">
    	<a href="{% url 'post_detail' slug=result.url %}"><h2>{{ result.title }}</h2></a>
	    <p>{{ result.content|truncatewords:8|safe }}</p>
     </div>   
     <hr>
    {% endfor %}
</div>
{% endblock %}

{% block pagination %}
    <nav>
        <ul>
            {% if results.has_previous %}
                <a class="" href="?page={{ results.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" tabindex="-1">Предыдущая</a>
            {% else %}
        <li>
            <a href="#" tabindex="-1">Предыдущая</a>
        </li>
        {% endif %}
        {% for i in results.paginator.page_range %}
            {% if i == results.number %}
                <li><a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
            {% else %}
                <li><a href="?page{{ i }}{% if request.GET.q %}}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if results.has_next %}
            <a href="?page={{ results.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Следующая</a>
        {% else %}
            <li><a href="#">Следующая</a></li>
        {% endif %}
        </ul>
    </nav>
    <br>
{% endblock %}