{% extends './base.html' %}
{% load static %}
{% block title %}Регистрация{% endblock %}

{% block content %}
	<div class="registration_block">
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="password_error">
						<strong>{{ error|escape }}</strong>>
					</div>
				{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
				<div class="password_error">
					<strong>{{ error|escape }}</strong>
				</div>	
			{% endfor %}
		{% endif %}

        <div class="reg">
            <h3>Пожалуйста введите ваш логин и пароль</h3>
		    <form method="post" action="{% url 'signup' %}">
			    {% csrf_token %}
			    <div class="field">
                    <label for="inputUsername">Логин</label>
	    		    {{ form.username }}
                </div>
                <br>
                <div class="field">
    			    <label for="inputPassword">Пароль</label>
	    		    {{ form.password }}
                </div>
                <br>
                <div class="field">
                    <label for="inputPassword">Повторите пароль</label>
                    {{ form.repeat_password }}
                </div>
                <br>
			    <button type="submit">Регистрация</button>
		    </form>
        </div>
	</div>
{% endblock %}	