{% extends './base.html' %}
{% load static %}
{% block title %} Написать статью {% endblock %}

{% block content%}
<div class="add_article">
	{% if request.user.is_authenticated %}
	<form method="post" method="get" enctype="multipart/form-data" novalidate>
		<p>{{ error }}</p>
		{% for form in forms %}
		{% csrf_token %}
		{{ form }}<br>
		{% endfor %}
		<button name="submit">Добавить статью</button>
	</form>
	{% else %}
	<p>Чтобы написать статью <a href="{% url 'signup' %}"> зарегистрируйтесь</a> или <a href="{% url 'signin' %}"> войдите</a></p>
	{% endif %}
</div>
	

{% endblock %}