{% load static %}

<footer>
		<span class="left">Все права защищены =) &copy; 2022</span>
		<span class="left"><p>. You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p></span>
		<span class="right">Мы в сетях
            <a href=""><img src="{% static 'img/vk.png' %}" alt="Вконтакте" title="Группа Вконтакте"></a>
		    <a href=""><img src="{%  static 'img/face.png' %}" alt="Фейсбук" title="Фейсбук"></a>
		    <a href=""><img src="{% static 'img/inst.png' %}" alt="Инстаграм" title="Инстаграм "></a>
        </span>
	</footer>