{% load static %}
<div id="page-wrap">
		<header>
			<div class="left">
			    <a class="left" href="{% url 'index' %}" title="На главную" id="logo"><img src="{% static 'img/main.png' %}"></a>
			    <form class="left" action="{% url 'search_results' %}" method="get">
					<input type="text" class="field" placeholder="поиск" name="q"/>
		  			<button class="search_button" type="submit">Поиск</button>
				</form>
			</div>
            {% if user.is_authenticated %}
                <span class="signin_login">{{ user }}</span>

                <a href="{% url 'my_articles' %}"><span class="right">Мои статьи</span></a>
                <a href="{% url 'signout' %}"><span class="right">Выход</span></a>
            {% else %}
			    <a href="{% url 'signup' %}"><span class="right">Регистрация</span></a>
				<a href="{% url 'signin' %}"><span class="right">Войти</span></a>
            {% endif %}
                <a href="{% url 'about' %}"><span class="right">О нас</span></a>
				<a href="{% url 'write_article' %}" class="write_article"><h2>Написать свою статью</h2></a>
				

		</header>
		
	</div>