{% extends "page/base.html" %}

{% block content %}

	<div id="wrapper">
			<div class="art">
                <h3>Основные правила выбора и содержания хомяков</h3>
                <img src="71dad5b8f8dba5cc554c18bd40acf80a.jpg">
                <p>Хомячки – простые животные для домашнего содержания. Достаточно знать несколько правил содержания,
                чтобы питомец был всегда весел и здоров.</p>
                <p>Как содержать домашнего хомяка:</p>
                <ul>
                    <li>не купать;</li>
                    <li>не пугать и не наказывать;</li>
                    <li>не селить разнополыми группами;</li>
                    <li>селить в просторную клетку и давать игрушки;</li>
                    <li>подбирать клетку с маленькими ячейками.</li>
                </ul>
                <p>Как и любому питомцу, хомяку требуется постоянный доступ к питьевой воде и подходящая диета.
                    Декоративные домашние хомяки  склонны к диабету, поэтому необходимо следить, чтобы они не ели
                    слишком много фруктов. Дикие европейские хомяки  реже подвержены этой болезни и считаются самыми
                    здоровыми представителями вида.</p>
                <img src="ds.jpg">
                <p>Хомячки – мастера побегов. Чем меньше грызун, тем проще выбраться из клетки и отправиться в
                    путешествие по дому. Поймать зверька сложно – напуганное поисками животное может бегать от хозяина
                    очень долго. Побег и поимка могут обернуться  стрессом и даже гибелью животного. Поэтому для игр и
                    общения выбирайте хомячков среднего размера (10-15 см). Их проще удерживать в руках, а для
                    содержания подойдет клетка с мелкоячеистой сеткой.</p>
                <p>Поведение хомяка невозможно изменить. Например, ночное животное не будет активным днем, а к
                    агрессивному или взрослому питомцу не подселить соседа.</p>
            </div>
		</div>

{% endblock content %}