{% extends "page/base.html" %}

{% block content %}

	<div id="wrapper">
		<div id="articles">
			<div id="article">

				<article>
					<img src="https://4lapy.ru/upload/medialibrary/f00/f00f448809c3a3a9b47c8ae52f29882b.jpg" 
					alt="Cricetus cricetus" title="Cricetus cricetus"/>
					<h4>Хомяки обыкновенные (Cricetus cricetus)</h4>
					<p>Самый крупный вид домашних хомяков...</p>
					<a href="hum1.html">Читать далее</a>
				</article>

				<article>
						<img src="https://4lapy.ru/upload/medialibrary/d32/d32d0b5f8a287ab24947ffa14ca9e74a.jpg" 
						alt="Джунгарские хомяки" title="Phodopus sungorus"/>
						<h4>Джунгарские хомяки (Phodopus sungorus)</h4>
						<p>Милые карликовые «меховые шарики»...</p>
						<a href="hum2.html">Читать далее</a>
				</article>

				<article>
						<img src="https://4lapy.ru/upload/medialibrary/2d2/2d276db897d8cb14283f13b4eac9acc6.jpg" 
						alt="Сирийские (золотые) хомяки" title="Сирийские (золотые) хомяки"/>							<h4>Китайские хомяки</h4>
						<p>Активные подвижные питомцы очень похожи на мышей...</p>
						<a href="hum3.html">Читать далее</a>
				</article>

				<article>
						<img src="https://4lapy.ru/upload/medialibrary/57f/57f6b5f1098026c9bd9eb47ecb87541b.jpg" 
						alt="Хомяки Кэмпбелла" title="Хомяки Кэмпбелла"/>
						<h4>Сирийские (золотые) хомяки</h4>

						<p>Золотистые хомячки любят спорт и обожают исследовать окружающий мир...</p>
						<a href="hum4.html">Читать далее</a>
				</article>
				
				<article>
						<img src="https://4lapy.ru/upload/medialibrary/23c/23c33383d1571a0d38867a7add5cc8b9.jpg" alt="Хомяки карликовые" title="Хомяки карликовые"/>
						<h4>Хомяки Кэмпбелла (Русские карликовые)</h4>
						<p>Миниатюрные хомячки с тонкой черной полоской на спине...</p>
						<a href="hum5.html">Читать далее</a>
				</article>

				<article>
						<img src="https://4lapy.ru/upload/medialibrary/959/9595fb695f12862d57ec918142228987.jpg" alt="Хомяки Роборовского" title="Хомяки Роборовского"/>
						<h4>Хомяки Роборовского</h4>
						<p>Миниатюрные хомячки песочно-желтого цвета активны по вечерам и ночью...</p>
						<a href="hum6.html">Читать далее</a>
				</article>

				
			</div>



		</div>
	</div>
	{% endblock content %}

